# Environment variables
.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Persistent Data / FAISS storage / Uploads
data/
*.faiss
*.pkl

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# IDE files
.vscode/
.idea/
